# Configuración del Bot de Discord
# Reemplaza el valor de abajo con el Token de tu bot obtenido del Discord Developer Portal
DISCORD_TOKEN=TU_TOKEN_AQUI

# Prefijo para los comandos (puedes cambiarlo si lo deseas)
COMMAND_PREFIX=!
